html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

html body .MuiDataGrid-columnHeaders {
    background: #2dcca7;
   color: #061a16;
  }
  
.MuiBox-root.css-19q7vmd.btndivider{
  display: flex;
  flex-wrap: nowrap;
}

.css-m3k6wd-MuiPaper-root-MuiCard-root svg tspan {
  fill: white;
}

.css-osbcxs-MuiPaper-root-MuiCard-root svg tspan {
  fill: white;
}

.apexcharts-tooltip .apexcharts-tooltip-title, .apexcharts-tooltip-series-group .apexcharts-tooltip-text{
  color: #30334E;
}

.video { position: relative; }

.video img{
   position: absolute;
   display: block;
   background: url(/images/cards/trophy.png);
   height: 40px;
   width: 40px;
   top: 20px;
   left: 20px;
}
